# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=poth_gulla

# Docker Internal Network URLs (Used by the containers)
DOCKER_DATABASE_URL="postgresql://admin:password123@postgres:5432/poth_gulla?schema=public"
DOCKER_REDIS_URL="redis://redis:6379"

# Vite Frontend Admin Target
VITE_API_URL="http://localhost:3000/api"